.first-section{
	background-color: $color_gris;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
select{
	display: block;
	margin-top: 40px;
}
.imgs{
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	max-width: 299px;
	max-height: 224px;
}
.img-restaurant5{
	height: 198px;
}
.back-text{
	background-color: $color_naranjo;
	color: white;
	position: relative;
    top: -6px;
    left: 10px;
    margin-right: 6px !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.color-text{
	h6{
		display: inline-block;
		margin-top: 14px;
		font-weight: 700;		
	}
	p{
		display: inline-block;
	}
}
.color-texto{
	p{
		i{
			font-size: 26px;
		}
	}
}
.back-text1, .back-text2, .back-text4, .back-text5{
	height: 126px;
}
.back-text13, .back-text14, .back-text15{
	height: 147px;
}

/*THIRD SECTION*/
.pie-fijo{
	position: fixed;
	bottom: 0;
	z-index: 1000;
	width: 100vw;
	height: 310px;
	background-color: $color_gris;
}
.third-section{
	position: fixed;
	bottom: 0;
	z-index: 2000;
	width: 100vw;
	height: 310px;
}
.nombre_restaurant{
	background-color: $color_naranjo;
	.nombre_restaurant_h{
		display: inline-block;
		text-transform: uppercase;
	}
	.heart_favorito{
		font-size: 2.92rem;
		margin-top: 20.4px;
		cursor: pointer;
		color: white;
	}
}
.paraf_restaurant{
	font-size: 1.64rem;
	margin: 0;
}
.paraf_h{
	font-weight: bold;
	margin: 15px 0 8px 0;
}
		